# 开发环境配置
spring:
  autoconfigure:
    exclude: com.alibaba.druid.spring.boot.autoconfigure.DruidDataSourceAutoConfigure
  datasource:
    dynamic:
      p6spy: true
      primary: base
      datasource:
        base:
          url: jdbc:mysql://192.168.2.81:3306/wilton_file_prod?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
          driver-class-name: com.mysql.cj.jdbc.Driver
          username: wilton
          password: 123456
  redis:
    database: 8
    host: 192.168.2.81
    port: 8179
    password: 123456
    lettuce:
      pool:
        min-idle: 8 # 连接池中的最小空闲连接
        max-idle: 500 # 连接池中的最大空闲连接
        max-active: 2000 # 连接池最大连接数（使用负值表示没有限制）
        max-wait: 10000 # 连接池最大阻塞等待时间（使用负值表示没有限制）
    timeout: 5000ms # 连接超时时间（毫秒）

wilton:
  upload:
    path: /home/file/upload
  share:
    path: https://vihacker.top:8188/s/
