<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>注册 | ViHacker</title>
      <meta name="description" content="管理个人和项目中的文件，支持存储和分享文件，支持api加密上传，可以快速和项目对接">
      <!-- Favicon -->
      <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
      
      <link rel="stylesheet" th:href="@{/assets/css/backend.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/fonts/remixicon.css}">
      
      <!-- Viewer Plugin -->
        <!--PDF-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/pdf/pdf.viewer.css}">
        <!--Docs-->
        <!--PPTX-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/pptxjs.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/nv.d3.min.css}">
        <!--All Spreadsheet -->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.css}">
        <!--Image viewer-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/css/jquery.verySimpleImageViewer.css}">
        <!--officeToHtml-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.css}">
        <link rel="stylesheet" th:href="@{/assets/css/common.css}">
      <style>
            .sign-user_card h5 {
                color: #613F9D;
                line-height: 50px;
                padding-top: 2px;
                letter-spacing: 1.5px;
                margin-left: 10px;
                flex: 1;
                transition: all .6s ease-in-out;
            }
            .ant-message {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                color: rgba(0,0,0,.85);
                font-size: 14px;
                font-variant: tabular-nums;
                line-height: 1.5715;
                list-style: none;
                font-feature-settings: "tnum";
                position: fixed;
                top: 8px;
                left: 0;
                z-index: 1010;
                width: 100%;
                pointer-events: none;
            }
         </style>
      </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
              <img th:src="@{/assets/images/loader.svg}" alt="loader">
          </div>
    </div>
    <!-- loader END -->
    
      <div class="wrapper" style="background-image: url(/assets/images/login-bg.jpg);">
      <section class="login-content">
         <div class="container h-100">
            <div class="row justify-content-center align-items-center height-self-center">
               <div class="col-md-4 col-sm-12 col-12 align-self-center">
                  <div class="sign-user_card" style="border-color: #fff;background-color: #fff;border-radius: 16px;">
                     <img th:src="@{/assets/images/logo.png}" class="img-fluid rounded-normal light-logo" style="height: 80px;" alt="logo">
                     <img th:src="@{/assets/images/logo.png}" class="img-fluid rounded-normal darkmode-logo" style="height: 80px;" alt="logo">
                     <h4 class="mb-3">创建一个账号</h4>
                     <form th:action="@{/register}" method="POST">
                         <div class="row">
                             <div class="col-lg-12">
                                 <div class="floating-label form-group">
                                     <input class="floating-input form-control" id="fullName" type="text" required placeholder=" ">
                                     <label>昵称</label>
                                 </div>
                             </div>
                             <div class="col-lg-12">
                                 <div class="floating-label form-group">
                                     <input class="floating-input form-control" id="username" type="email" required placeholder=" ">
                                     <label>电子邮箱</label>
                                 </div>
                             </div>
                             <div class="col-lg-6">
                                 <div class="floating-label form-group">
                                     <input class="floating-input form-control" id="verifyCode" type="text" required placeholder=" ">
                                     <label>验证码</label>
                                 </div>
                             </div>
                             <div class="col-lg-6" style="line-height: 42px;">
                                 <button type="button" class="btn btn-primary send-mail">发送验证码</button>
                             </div>
                             <div class="col-lg-6">
                                 <div class="floating-label form-group">
                                     <input class="floating-input form-control" id="password" type="password" required placeholder=" ">
                                     <label>密码</label>
                                 </div>
                             </div>
                             <div class="col-lg-6">
                                 <div class="floating-label form-group">
                                     <input class="floating-input form-control" id="qpassword" type="password" required placeholder=" ">
                                     <label>确认密码</label>
                                 </div>
                             </div>
                             <div class="col-lg-12">
                                 <div class="custom-control custom-checkbox mb-3 text-left">
                                     <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                                     <label class="custom-control-label" for="customCheck1">我同意使用条款</label>
                                 </div>
                             </div>
                         </div>
                        <button type="button" class="btn btn-primary submit" style="width: 100%;">注册</button>
                         <p class="mt-3">
                             已经有一个账户 <a href="/toLogin" class="text-primary">立即登录</a>
                         </p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
    <div class="ant-message">
        <span></span>
    </div>
    <!-- Backend Bundle JavaScript -->
    <script th:src="@{/assets/js/backend-bundle.min.js}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script th:src="@{/assets/js/customizer.js}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script th:src="@{/assets/js/chart-custom.js}"></script>
    
    <!--PDF-->
    <script th:src="@{/assets/vendor/doc-viewer/include/pdf/pdf.js}"></script>
    <!--Docs-->
    <script th:src="@{/assets/vendor/doc-viewer/include/docx/jszip-utils.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/docx/mammoth.browser.min.js}"></script>
    <!--PPTX-->
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/filereader.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/d3.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/nv.d3.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/pptxjs.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/divs2slides.js}"></script>
    <!--All Spreadsheet -->
    <script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/xlsx.full.min.js}"></script>
    <!--Image viewer-->
    <script th:src="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/js/jquery.verySimpleImageViewer.js}"></script>
    <!--officeToHtml-->
    <script th:src="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.js}"></script>
    <script th:src="@{/assets/js/doc-viewer.js}"></script>
    <!-- app JavaScript -->
    <script th:src="@{/assets/js/app.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    var correctpass = true;
        $(document).on("click", ".send-mail",function () {
            checkEmail($('#username').val());
            if(correctpass){
                $(".send-mail").attr("disabled","disabled");//点击一次不可再点
                sendCode()
                var c = 60;
                var interval = setInterval(function(){//定义定时器
                    $(".send-mail").html(c+"s之后重试");
                    c--;
                    if(c == 0){
                        clearInterval(interval);//清除定时器
                        $(".send-mail").html("重新发送");
                        $(".send-mail").removeAttr("disabled");//删除这个属性
                        c=60;
                    }
                },1000);
            }
        });

        function sendCode(){
            $.ajax({
                url:"/verify/sendMailCode",
                type:"GET",
                data:{to:$('#username').val()},
                success:function (result) {
                }
            });
        }

    $(document).on("click", ".submit",function () {
        if($('#password').val() != $('#qpassword').val()){
            alert("两次密码不一致!")
        }
        var dataFrom = {
            username: $('#username').val(),
            password: $('#password').val(),
            nickName: $('#fullName').val(),
            verifyCode: $('#verifyCode').val(),
            email: $('#username').val()
        }
        $.ajax({
            url:"/user/register",
            type:"POST",
            data: dataFrom,
            success:function (result) {
                console.log(result)
                if(result.code == 200){
                    alert("注册成功!");
                    location.href = "/toLogin";
                }else{
                    alert(result.message);
                }
            },
            error: function(xhr, textStatus, error){
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    });

        //验证手机号码
        function checkEmail(email){
            var myreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            if(!myreg.test(email)){
                alert("请输入正确邮箱地址");
                correctpass = false;
            }else {
                correctpass = true;
            }
        }
    </script>
  </body>
</html>