<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>登入 | ViHacker</title>
      <meta name="description" content="支持存储和分享文件，支持api加密上传，可以快速和项目对接">
      <!-- Favicon -->
      <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
      
      <link rel="stylesheet" th:href="@{/assets/css/backend.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
      <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/fonts/remixicon.css}">
      
      <!-- Viewer Plugin -->
        <!--PDF-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/pdf/pdf.viewer.css}">
        <!--Docs-->
        <!--PPTX-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/pptxjs.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/nv.d3.min.css}">
        <!--All Spreadsheet -->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.css}">
        <!--Image viewer-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/css/jquery.verySimpleImageViewer.css}">
        <!--officeToHtml-->
        <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.css}">
      <style>
            .sign-user_card h5 {
                color: #613F9D;
                line-height: 50px;
                padding-top: 2px;
                letter-spacing: 1.5px;
                margin-left: 10px;
                flex: 1;
                transition: all .6s ease-in-out;
            }
         </style>
      </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
              <img th:src="@{/assets/images/loader.svg}" alt="loader">
          </div>
    </div>
    <!-- loader END -->
    
      <div class="wrapper">
      <section class="login-content">
         <div class="container h-100">
            <div class="row justify-content-center align-items-center height-self-center">
               <div class="col-md-5 col-sm-12 col-12 align-self-center">
                  <div class="sign-user_card">
                     <img th:src="@{/assets/images/Vihackerlogo-1.png}" class="img-fluid rounded-normal light-logo" style="height: 100px;" alt="logo">
                     <img th:src="@{/assets/images/Vihackerlogo-1.png}" class="img-fluid rounded-normal darkmode-logo" style="height: 100px;" alt="logo">
<!--                     <h5 style="color: #000">云文件分享系统</h5>-->
                     <h4 class="mb-3">登录</h4>
                     <form th:action="@{/login}" method="POST">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="floating-label form-group">
                                 <input class="floating-input form-control" id="username" name="username" type="text" required placeholder=" ">
                                 <label>手机号码</label>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="floating-label form-group">
                                 <input class="floating-input form-control" id="password" name="password" type="password" required placeholder=" ">
                                 <label>密码</label>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="custom-control custom-checkbox mb-3 text-left">
                                 <input type="checkbox" name="rememberMe" class="custom-control-input" id="customCheck1">
                                 <label class="custom-control-label" for="customCheck1">记住我</label>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <a href="#" class="text-primary float-right">忘记密码?</a>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary">登录</button>
                        <p class="mt-3">
                           创建账户 <a href="#" class="text-primary">注册</a>
                        </p>
                     </form>
                      <!-- 以下为显示认证失败等提示信息（th:if=""一定要写 ） -->
                      <div th:if="${param.error} == 0" th:text="用户名或密码错误!"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
    
    <!-- Backend Bundle JavaScript -->
    <script th:src="@{/assets/js/backend-bundle.min.js}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script th:src="@{/assets/js/customizer.js}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script th:src="@{/assets/js/chart-custom.js}"></script>
    
    <!--PDF-->
    <script th:src="@{/assets/vendor/doc-viewer/include/pdf/pdf.js}"></script>
    <!--Docs-->
    <script th:src="@{/assets/vendor/doc-viewer/include/docx/jszip-utils.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/docx/mammoth.browser.min.js}"></script>
    <!--PPTX-->
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/filereader.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/d3.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/nv.d3.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/pptxjs.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/divs2slides.js}"></script>
    <!--All Spreadsheet -->
    <script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.js}"></script>
    <script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/xlsx.full.min.js}"></script>
    <!--Image viewer-->
    <script th:src="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/js/jquery.verySimpleImageViewer.js}"></script>
    <!--officeToHtml-->
    <script th:src="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.js}"></script>
    <script th:src="@{/assets/js/doc-viewer.js}"></script>
    <!-- app JavaScript -->
    <script th:src="@{/assets/js/app.js}"></script>
  </body>
  <script type="text/javascript" src="https://js.mfpad.com/mfsapi.js"></script>
</html>