<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>资源中心 | 云文件分享系统</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/assets/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/assets/css/backend.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/fonts/remixicon.css}">

    <!-- Viewer Plugin -->
    <!--PDF-->
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/pdf/pdf.viewer.css}">
    <!--Docs-->
    <!--PPTX-->
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/pptxjs.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/PPTXjs/css/nv.d3.min.css}">
    <!--All Spreadsheet -->
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.css}">
    <!--Image viewer-->
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/css/jquery.verySimpleImageViewer.css}">
    <!--officeToHtml-->
    <link rel="stylesheet" th:href="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.css}">
    <link rel="stylesheet" th:href="@{/assets/css/file_type.css}">
    <link rel="stylesheet" th:href="@{/assets/css/file_sharing_public.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}">
    <style>
        .iq-top-navbar-zhx {
            display: flex;
            width: 100%;
        }
        .iq-navbar-custom {
            width: 100% !important;
        }
    </style>
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
        <img th:src="@{/assets/images/loader.svg}" alt="loader">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <div th:replace="common/nav::nav"></div>
    <div class="iq-top-navbar">
        <div th:replace="common/navbar::navbar"></div>
    </div>
    <div class="content-page" style="margin-left: 0px;">
        <div class="container-fluid">
            <div class="icon icon-grid i-grid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless tbl-server-info">
                                        <thead>
                                        <tr>
                                            <th scope="col">文件名</th>
                                            <th scope="col">文件大小</th>
                                            <th scope="col">种类</th>
                                            <th scope="col">上传者</th>
                                            <th scope="col">修改时间</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="icon-small rounded mr-3">
                                                        <svg class="icon svg-icon" aria-hidden="true" style="width: 40px; height: 40px;">
                                                            <use xlink:href="#icon-wenjianjia2"></use>
                                                        </svg>
                                                    </div>
                                                    <div data-load-file="file" style="cursor: pointer;">我的相册</div>
                                                </div>
                                            </td>
                                            <td> </td>
                                            <td>文件夹</td>
                                            <td>Ranger</td>
                                            <td>2021-03-27 18:35</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown">
                                                        <i class="ri-more-fill"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton10">
                                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>查看</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>删除</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>编辑</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>下载</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="icon-small bg-danger rounded mr-3">
                                                        <i class="ri-file-excel-line"></i>
                                                    </div>
                                                    <div data-load-file="file" data-load-target="#resolte-contaniner" data-url="assets/vendor/doc-viewer/files/demo.pdf" data-toggle="modal" data-target="#exampleModal" data-title="alexa5.pdf" style="cursor: pointer;">Weekly Report.pdf</div>
                                                </div>
                                            </td>
                                            <td>3.68 MB</td>
                                            <td>pdf</td>
                                            <td>Ranger</td>
                                            <td>2021-03-27 18:35</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown">
                                                        <i class="ri-more-fill"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton10">
                                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>查看</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>删除</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>编辑</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>下载</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="icon-small bg-primary rounded mr-3">
                                                        <i class="ri-file-download-line"></i>
                                                    </div>
                                                    <div data-load-file="file" data-load-target="#resolte-contaniner" data-url="assets/vendor/doc-viewer/files/demo.docx" data-toggle="modal" data-target="#exampleModal" data-title="alexa6.docx" style="cursor: pointer;">Milestone.docx</div>
                                                </div>
                                            </td>
                                            <td>3.68 MB</td>
                                            <td>docx</td>
                                            <td>Ranger</td>
                                            <td>2021-03-27 18:35</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton11" data-toggle="dropdown">
                                                        <i class="ri-more-fill"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton10">
                                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>查看</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>删除</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>编辑</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>下载</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="icon-small bg-info rounded mr-3">
                                                        <i class="ri-file-excel-line"></i>
                                                    </div>
                                                    <div data-title="Alexa8.xlsx" data-load-file="file" data-load-target="#resolte-contaniner" data-url="assets/vendor/doc-viewer/files/demo.xlsx" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">Training center.xlsx</div>
                                                </div>
                                            </td>
                                            <td>3.68 MB</td>
                                            <td>xlsx</td>
                                            <td>Ranger</td>
                                            <td>2021-03-27 18:35</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton13" data-toggle="dropdown">
                                                        <i class="ri-more-fill"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton10">
                                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>查看</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>删除</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>编辑</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>下载</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="icon-small bg-success rounded mr-3">
                                                        <i class="ri-file-excel-line"></i>
                                                    </div>
                                                    <div data-load-file="file" data-load-target="#resolte-contaniner" data-url="assets/vendor/doc-viewer/files/demo.docx" data-toggle="modal" data-target="#exampleModal" data-title="alexa7.pptx" style="cursor: pointer;">Flavour.pptx</div>
                                                </div>
                                            </td>
                                            <td>3.68 MB</td>
                                            <td>pptx</td>
                                            <td>Ranger</td>
                                            <td>2021-03-27 18:35</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton12" data-toggle="dropdown">
                                                        <i class="ri-more-fill"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton10">
                                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>查看</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>删除</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>编辑</a>
                                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>下载</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper End-->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 text-right">
                Copyright © 2020 <a href="http://file.wiltonic.cn">Wilton-Cloud-File</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Backend Bundle JavaScript -->
<script th:src="@{/assets/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/assets/js/backend-bundle.min.js}"></script>
<script th:src="@{/assets/js/iconfont.js}"></script>
<script th:src="@{/assets/js/wilton-confirm.js}"></script>

<!-- Chart Custom JavaScript -->
<script th:src="@{/assets/js/customizer.js}"></script>

<!-- Chart Custom JavaScript -->
<script th:src="@{/assets/js/chart-custom.js}"></script>

<!--PDF-->
<script th:src="@{/assets/vendor/doc-viewer/include/pdf/pdf.js}"></script>
<!--Docs-->
<script th:src="@{/assets/vendor/doc-viewer/include/docx/jszip-utils.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/docx/mammoth.browser.min.js}"></script>
<!--PPTX-->
<script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/filereader.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/d3.min.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/nv.d3.min.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/pptxjs.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/PPTXjs/js/divs2slides.js}"></script>
<!--All Spreadsheet -->
<script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.js}"></script>
<script th:src="@{/assets/vendor/doc-viewer/include/SheetJS/xlsx.full.min.js}"></script>
<!--Image viewer-->
<script th:src="@{/assets/vendor/doc-viewer/include/verySimpleImageViewer/js/jquery.verySimpleImageViewer.js}"></script>
<!--officeToHtml-->
<script th:src="@{/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.js}"></script>
<script th:src="@{/assets/js/doc-viewer.js}"></script>
<!-- app JavaScript -->
<script th:src="@{/assets/js/app.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>

</body>
<script type="text/javascript" src="https://js.mfpad.com/mfsapi.js"></script>
</html>